fastapi>=0.110.0,<1.0.0
uvicorn[standard]>=0.29.0,<1.0.0
sqlalchemy>=2.0.0,<3.0.0
groq
langgraph
google-generativeai
google-auth>=2.0.0,<3.0.0
google-auth-oauthlib>=1.0.0,<2.0.0
google-api-python-client>=2.0.0,<3.0.0
python-dotenv>=1.0.0,<2.0.0
psycopg2
passlib
python-jose[cryptography]
numpy
pandas
pvlib
pydantic
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
